.contenedor{
    display: flex; 
    padding: 15px;
    background-color: rgb(0, 0, 0);
}

.login{
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 5px;

}

.imagen{
    
    background-image: url(img/barberia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.imagenbarba{
    background-image: url(img/barbaaa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    text-decoration: none;
}
.imagenbarba{
  border: 10px solid white;
  border-collapse: collapse;
  padding: 15px;
  margin-bottom: 0.3rem;
}
.imagenrostro{
    background-image: url(img/rostrooo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;  
    height: 250px;
}
.imagenrostro{
  border: 10px solid white;
  border-collapse: collapse;
  padding: 15px;
}
.productos{
    background-image: url(img/prductos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
}
.productos{
  border: 10px solid white;
  border-collapse: collapse;
  padding: 15px;
}
.tableht{
    border: 10px solid white;
    border-collapse: collapse;
    padding: 15px;
    
}
th{
    color: white;
}

p{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen22{
background-image: url(img/corte-cabello.jpeg);
background-repeat: no-repeat;
background-size: cover;
width: 300px;
height: 250px;
color: #f2fe6c;
text-decoration: none;
}
.imagen22{
  border: 10px solid white;
  border-collapse: collapse;
  padding: 15px;
}

p{
    color: black;

}
.corte{
    color: rgb(244, 255, 26);
    position: sticky;
    top: 590px;
    right: 1110px;
    margin-bottom: 0.3rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.barba{
  color: rgb(244, 255, 26);
  position: sticky;
  top: 590px;
  right: 780px;
}

.rostro{
  color: rgb(244, 255, 26);
  position: sticky;
  top: 590px;
  right: 430px;
}

.productos-letra{
  color: rgb(244, 255, 26);
  position: sticky;
  top: 590px;
  right: 120px;
}

.pp{
    color: rgb(255, 255, 255);
}

.ppp{
    color: rgb(0, 0, 0);
}

.pppp{
    color: rgb(255, 255, 255);
}

.hh{
    color: rgb(255, 255, 255);
    left: 50px;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #ffffff;
  position: fixed;
  width: 100%;
  background: #000000;
  color: #ffffff;
  height: 100px;
  z-index: 12;
  left: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
.menu-items {
    order: 2;
    display: flex;
    padding-right: 250px;
    margin-top: 40px;
  }
  
  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 20px;
    transition: color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .menu-items a:hover {
    color: #f2fe6c;
    transition: color 0.3s ease-in-out;
  }
  
  .logo {
    order: 1;
    font-size: 2.20rem;
    margin-bottom: 0.10rem;
    height: 90px;
    width: 90px;
    margin-top: 30px;
  }
  .boton{
    text-align: right;
    position: absolute; top: 39%;
    right: 150px;
    border-radius: 3px;
    background-color: #f2fe6c;
    transition: color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px 6px;
  }
  .boton2{
    text-align: right;
    position: absolute; top: 39%;
    right: 74px;
    border-radius: 3px;
    background-color: #f2fe6c;
    transition: color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px 6px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .boton:hover{
    background-color: #8a8282;
    border: 2px solid #8a8282;
    color: #ffffff;
  }

  .boton2:hover{
    background-color: #8a8282;
    border: 2px solid #8a8282;
    color: #ffffff;
  }

  p{
    color: #ffffff;
  }

#img{
    display: none;
}
.scr{
    width: 400px;
}

.fondo-scrol{
  background-color: #7b7b7b;
}
.tabaaaa{
  color: #7b7b7b;
}
.parrafos{
  color: #000000;
  right: 410px;
  top: 708px;
  position: absolute;
}
 h5{
  color: #000000;
  right: 885px;
  top: 810px;
  position: absolute;
 }

 .imagenscrool{
  height: 240px;
  width: 298px;
  border-radius: 5%;

 }
 .tablahp{
  color: #7b7b7b;
 }

 .barbascrol{
  height: 240px;
  width: 298px;
  border-radius: 5%;
 }

 .rostroscrol{
  height: 240px;
  width: 298px;
  border-radius: 5%;
 }

.productosscrol{
  height: 240px;
  width: 298px;
  border-radius: 5%;
 }
 .parrafoscrol1{
  right: 525px;
  top: 750px;
  position: absolute;
 }
 
 
.link1{
  position: absolute;
  right: 990px;
  top: 900px;
}
.tabla-section{
border-collapse: collapse;
width: 100%; 
}
.th-section{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
}
.th-section{
  background-color: #7b7b7b;
}
.textoscrol1{
  position: absolute;
  top: 940px;
  left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.textoscrol2{
  position: absolute;
  top: 1260px;
  left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.textoscrol3{
  position: absolute;
  top: 1560px;
  left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.textoscrol4{
  position: absolute;
  top: 1860px;
  left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.colorh41{
  top: -90px;
  left: 325px;
  position: relative;
  color: #f2fe6c;
  font-family: Arial, Helvetica, sans-serif;

}


.colorh42{
  top: 530px;
  left: 325px;
  position: relative;
  color: #f2fe6c;
  font-family: Arial, Helvetica, sans-serif;
}


.colorh43{
  top: 830px;
  left: 325px;
  position: relative;
  color: #f2fe6c;
  font-family: Arial, Helvetica, sans-serif;
}


.colorh44{
  top: 1070px;
  left: 325px;
  position: relative;
  color: #f2fe6c;
  font-family: Arial, Helvetica, sans-serif;
}


  
 





